body{
    background-color: rgb(224, 224, 224);
}


.mainbox{
    background-color: rgb(255, 255, 255);
    display: flex;
   
    margin-top: 100px;
    height: 600px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.boxone{
    background-color: rgb(255, 255, 255);
    width: 40%;
    padding-left: 140px;
   margin-left: 40px;
}
.boxtwo{
    background-color: aquamarine;
    justify-content: center;
    width: 47%;
   background-image: url(./images/shop.jpg);
   background-size: cover;
   padding-right: 180px;
}
.pratetwo{
    font-size: 22px;
    font-weight: bold;
    color: black;
  
}
.prate{
    font-size: 18px;
    color: black;
}