.container {
  display: flex;
  justify-content: space-around;
}


.flex-item1 {
  /* flex: 0 0 23%; */
  background-color: #d7d7d7;
  color: #fff;
  /* padding: 10px; */
  text-align: center;
  margin: 5px;
  height: 620px;
  width: 20%;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
.imgone:first-child:hover{
  rotate: x 90deg;
}


.imgone{
  height: 70%;
  transition: rotate 1s ease-in-out;
  width: 100%;
  background-size: cover;
}
p{
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  color: black;
}
.rate{
  font-size: 24px;
  color: black;
  margin-top: -20px;
  margin-bottom: 10px;
}
.shop{
  width: 100%;
}
.flex-item2 {
  background-color: #d6d6d6;
  color: #fff;
  /* padding: 10px; */
  text-align: center;
  margin: 5px;
  height: 620px;
  width: 20%;
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
.flex-item3 {
   /* flex: 0 0 23%; */
   background-color: #dfdfdf;
  color: #fff;
  /* padding: 10px; */
  text-align: center;
  margin: 5px;
  height: 620px;
  width: 20%;
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
.flex-item4 {
  background-color: #c3c3c3;
  color: #fff;
  /* padding: 10px; */
  text-align: center;
  margin: 5px;
  height: 620px;
  width: 20%;
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
 
 
}
